<div class="col-xs-3 col-sm-2 sidebar">
  <ul class="nav nav-sidebar">
    <li><a href="">Add Taxi Company</a></li>
    <li><a href="">Update Taxi Company</a></li>
    <li><a href="">Delete Taxi Company</a></li>
    <li><a href="">Add Driver</a></li>
    <li><a href="">Update Driver</a></li>
    <li><a href="">Delete Driver</a></li>
  </ul>
</div>