<div class="col-xs-12 main">
  <div id="map" class="col-xs-12" style="height:600px" ></div>
      
      <script type="text/javascript" src="http://gothere.sg/jsapi?sensor=false"> </script>
      <script type="text/javascript">
          gothere.load("maps");
          var map;
          var longitude,latitude;
          var userlocs = [];
          function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position){
                  var longitude = position.coords.longitude;
                  var latitude = position.coords.latitude;
                  var coordinates = new GLatLng(latitude, longitude);
                  map.setCenter(coordinates, 15);
                  var marker = new GMarker(coordinates);
                  map.addOverlay(marker);
                });
            } else {
                longitude = 103.819836;
                latitude = 1.362083;
                map.setCenter(new GLatLng(latitude, longitude), 15);
                alert("Location Not Available!");
              }
          }

          function initialize() {
            if (GBrowserIsCompatible()) {
              // Create the Gothere map object.
              map = new GMap2(document.getElementById("map"));
              map.disableContinuousZoom();
              map.disableScrollWheelZoom();
              map.disableDoubleClickZoom();
              // Set the center of the map.
              getLocation();
              // Add zoom controls on the top left of the map.
              map.addControl(new GSmallMapControl());
              // Add a scale bar at the bottom left of the map.
              map.addControl(new GScaleControl());
            }
          }
          gothere.setOnLoadCallback(initialize);

          function showNearbyUsers(){
            var marker;
            var coordinates;
            var i;
            var Gi = new GIcon(G_DEFAULT_ICON);
            Gi.image = "./img/user.png";
            Gi.shadow = "";
            var options = {
                icon: Gi,
                clickable: true,
                draggable: false
            };
            for (i=0;i<userlocs.length;i++){
              coordinates = new GLatLng(userlocs[i].Latitude, userlocs[i].Longitude);
              marker = new GMarker(coordinates, options);
              map.addOverlay(marker);
            }
          }
      </script>

      <% for (var i=0;i<userlocs.length;i++){ %>

        <script>
          userlocs["<%= i %>"] = {
            Latitude: "<%= userlocs[i].Latitude %>",
            Longitude: "<%= userlocs[i].Longitude %>"
          };
        </script>

      <% } %>

</div>