<!DOCTYPE html>

<html lang="en" class="gr__bootstrapdocs_com">

  <%- include('partials/Head.ejs'); %>

  <body data-gr-c-s-loaded="true">

  	<nav class="navbar navbar-inverse navbar-fixed-top">
  		<div class="container-fluid">
    		<div class="navbar-header">
      			<a class="navbar-brand" href="/">TaxiMe</a>
    		</div>
    	</div>
  	</div>
</nav>
    <div class="container-fluid">
      <div class="row">
        
        <%- include('partials/AdminSideNav.ejs'); %>
        <%- include('partials/AdminContent.ejs'); %>

      </div>
    </div>

</body>
</html>