<!DOCTYPE html>

<html lang="en" class="gr__bootstrapdocs_com">

  <%- include('partials/Head.ejs'); %>

  <body data-gr-c-s-loaded="true" onload="load();">

    <%- include('partials/TopNav.ejs'); %>

    <div class="container-fluid">
      <div class="row">
        
        <%- include('partials/Content.ejs'); %>

      </div>
    </div>

</body>
</html>